<p fundoAmarelo>Texto com fundo amarelo</p>
<button fundoAmarelo>Botão com Fundo Amarelo</button>

<p highlightMouse>Texto com highlight quando passo o mouse.</p>

<p [highlight]="'red'" [defaultColor]="'grey'">
  Texto com highlight com cores customizadas.
</p>
