<app-diretivas-customizadas></app-diretivas-customizadas>
<!-- <app-exemplo-ng-content
  >Couteúdo passado para o componente <app-operador-elvis></app-operador-elvis
></app-exemplo-ng-content> -->
<!-- <app-exemplo-ng-content>
  <div class="titulo">Titulo Do painel</div>
  <div class="corpo">
    Couteúdo passado para o componente
  </div>
</app-exemplo-ng-content> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
