<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <div class="navbar-nav">
    <a
      class="nav-item nav-link"
      [class.active]="aba == 'home'"
      (click)="aba = 'home'"
      >Home
    </a>
    <a
      class="nav-item nav-link"
      [class.active]="aba == 'features'"
      (click)="aba = 'features'"
      >Features</a
    >
    <a
      class="nav-item nav-link"
      [class.active]="aba == 'pricing'"
      (click)="aba = 'pricing'"
      >Pricing</a
    >
  </div>
</nav>
<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'features'">Modo Features ativado</p>
  <p *ngSwitchCase="'pricing'">Modo Pricing ativado</p>
  <p *ngSwitchDefault>Home</p>
</div>
<h5>Removendo - * e usando template</h5>
<div class="container" [ngSwitch]="aba">
  <ng-template [ngSwitchCase]="'features'">
    <p>Modo Features ativado</p>
  </ng-template>
  <ng-template [ngSwitchCase]="'pricing'">
    <p>Modo Pricing ativado</p>
  </ng-template>
  <ng-template [ngSwitchCase]="'home'" ngSwitchDefault>
    <p>Home</p>
  </ng-template>
</div>
