<section class="two-way-binding">
  <article>
    <h3>Two-way data binding</h3>
    <div>
      <input type="text" [value]="nome" (input)="nome = $event.target.value" />
      <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" />
      <p>Você digitou : {{ nome }}</p>

      <input type="text" [(ngModel)]="nome" />

      Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos.
      <input type="text" [(ngModel)]="pessoa.nome" />
      <input type="text" [(ngModel)]="pessoa.idade" />
    </div>
  </article>
</section>
