<!-- <section class="property-binding">
   <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com Interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é:{{ 1 + 1 + getValor() }}</p>
    <p>
      Curso de Angular e gosto do Curso: {{ cursoAngular && getCurtirCurso() }}
    </p>
    <p></p>
  </article>
  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}" />
    <img [src]="urlImagem" />
    <img bind-src="urlImagem" />
  </article> -->
<!-- <article>
    <h3>Class e Style Binding</h3>
    <div>Selecione uma classe</div>
    <select #classe (change)="(0)">
      <option value="alert-success">Sucesso</option>
      <option value="alert-info">Info</option>
      <option value="alert-warning">Alerta</option>
      <option value="alert-danger">Erro</option>
    </select>
    <br /><br />

    <div class="alert {{ classe.value }} " role="alert">
      Texto conforme valor do combobox.
    </div>

    <div
      class="alert"
      role="alert"
      [class.alert-success]="classe.value == 'alert-success'"
    >
      Sucesso
    </div>
    <div
      class="alert"
      role="alert"
      [class.alert-info]="classe.value == 'alert-info'"
    >
      Info
    </div>
    <div
      class="alert"
      role="alert"
      [class.alert-warning]="classe.value == 'alert-warning'"
    >
      Alerta
    </div>
    <div
      class="alert"
      role="alert"
      [class.alert-danger]="classe.value == 'alert-danger'"
    >
      Erro
    </div>

    <div
      class="alert alert-danger"
      role="alert"
      [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'"
    >
      Esse texto aparece somente em caso de erro
    </div>
  </article> -->
<!-- <section class="event-binding">
    <article>
      <h3>Event Binding</h3>
      <div>
        <button (click)="botaoClicado()" class="btn btn-primary">
          Me clique!
        </button>
        <br /><br />
        <input
          type="text"
          (keyup)="onKeyUp($event)"
          (keyup.enter)="salvarValor(campoInput.value)"
          (blur)="salvarValor(campoInput.value)"
          #campoInput
        />
        <p>Valor Atual: {{ valorAtual }}</p>
        <p>Valor Salvo: {{ valorSalvo }}</p>
        <br /><br />
        <span
          (mouseover)="onMouseOverOut()"
          (mouseout)="onMouseOverOut()"
          [class.highlight]="isMouseOver"
          >Passe o mouse sobre mim</span
        >
      </div>
    </article> 
    </section>
</section> -->
<!-- <app-meu-form></app-meu-form> -->
<section class="input-output-properties">
  <article>
    <h3>Input/Output Properties</h3>
    <app-curso [nome]="nomeDoCurso"></app-curso>
    <contador
      [valor]="valorInicial"
      (mudouValor)="onMudouValor($event)"
    ></contador>
  </article>
</section>
